# Data Wrangling: Join, Combine, and Reshape Data

In [1]:
# Much of programming work in data analysis and modeling is spent on data preparation:
# Loading, cleaning, transforming, and rearranging.
# Sometimes the way that data is stored in files or databases is not the way you need it for a data processing application. 
# Many people choose to do and hoc processing of data from one form to another using a general purpose programming language, 
# like Python, Perl, R, or Java, or Unix text processing tools like sed or awk.

# Combining and Merging Data Sets

In [2]:
# Data contained in pandas object can be combined together in a number of ways. 
# The three main ways of combining data are merges, joins, and concatenation.
# This section focuses on the mechanics of joining data sets with pandas.

# Database-style DataFrame merges

In [3]:
# Merge or join operations combine data sets by linking rows using one or more keys. 
# These operations are central to relational databases. 
# The merge function in pandas is the main entry point for using these algorithms on your data. 
# Let's start with a simple example: 
import pandas as pd 
import numpy as np
from pandas import Series, DataFrame

df1 = DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],'data1': range(7)}) 
df2 = DataFrame({'key': ['a', 'b', 'd'],'data2': range(3)})

In [4]:
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [5]:
df2

  key  data2
0   a      0
1   b      1
2   d      2