In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('MonthlySales.csv')

In [4]:
df.head()

        month     sales
0  2013-01-01  14236.90
1  2013-02-01   4519.89
2  2013-03-01  55691.01
3  2013-04-01  28295.35
4  2013-05-01  23648.29

In [6]:
import json
from pandas.io.json import json_normalize

with open('monthlySalesbyCategoryMultiple.json') as json_data:
    d = json.load(json_data)

In [7]:
df = json_normalize(d['contents'], 'monthlySales', ['category', 'region'])

/var/folders/vq/73zp4qns2cjdsxcw0bzvh98w0000gn/T/ipykernel_7138/3888629375.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  df = json_normalize(d['contents'], 'monthlySales', ['category', 'region'])

In [8]:
df.head()

      month  sales   category region
0  20130101     38  Furniture   West
1  20130201     35  Furniture   West
2  20130301     41  Furniture   West
3  20130401     55  Furniture   West
4  20130501     58  Furniture   West

In [9]:
#reading parquet into panda dataframe
import pyarrow.parquet as pq

In [10]:
table = pq.read_table('MonthlyProductSales.parquet')

In [11]:
table.to_pandas()

,Month of Order Date,Product Name,Sales
0,b'2017-01-13',b'Xerox 1972',11
1,b'2017-01-13',b'Xerox 1923',37
2,b'2017-01-13',b'Xerox 225',19
3,b'2017-01-13',b'Xerox 195',40
4,b'2017-01-13',b'Wireless Extenders zBoost YX545 SOHO Signal ...,756
...,...,...,...
9247,b'2017-12-16',b'14-7/8 x 11 Blue Bar Computer Printout Paper',96
9248,b'2017-12-16',"b'6"" Cubicle Wall Clock, Black'",10
9249,b'2017-12-16',b'3M Hangers With Command Adhesive',10
9250,b'2017-12-16',b'3.6 Cubic Foot Counter Height Office Refrige...,295
9251,b'2017-12-16',b'3-ring staple pack',9

In [14]:
# you need to install html5lib
#pip install html5lib
# reading data from a html site
#df = pd.read_html('https://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations')

In [1]:
# get part that has the states and abbreviations
#df_usa = df[0]

In [2]:
# remove unnecessary rows and columns
#final_df = df_usa.drop(df_usa.index[range(0,11)]).drop(df_usa.columns[range(10,15)], axis=1)

In [3]:
# rename columns
#final_df.rename(columns={0: 'Region Name', 1: 'Region Status', 2: 'ISO', 3: 'ANSI_Letter', 4: 'ANSI_Code'
#                         , 5: 'USPS', 6: 'USCG', 7: 'GPO', 8: 'AP', 9: 'Other Abbreviations'}, inplace=True)

In [4]:
# reset index of rows
#final_df.reset_index(drop=True)