# Statistical Learning  
Statistical learning refers to a vast set of tools for understanding data. These tools can be classified as supervised or unsupervised. Broadly speaking, supervised statistical learning involves building a statistical model for predicting, or estimating, an output based on one or more inputs. Problems of this nature occur in fields as diverse as business,medicine,astrophysics,and public policy. With unsupervised statistical learning, there are inputs but no supervising output; nevertheless, we can learn relationships and structure from such data. Unsupervised learning problems can also be found in a wide range of fields....

# Wage data

In [3]:
# ! pip install ISLP

In [7]:
from ISLP import load_data
# In this application which we refer to as the "Wage" data set througout.. 
# we examine a number of factors that relate to wages for a group of men from the Atlantic region of the US. 
# In particular we wish to understand the association between an employee's age and education, as well as the 
# calendar year, on his wage. 

# The data set contains 3000 observations on 11 variables.

wage = load_data('Wage')
wage.columns

Index(['year', 'age', 'maritl', 'race', 'education', 'region', 'jobclass',
       'health', 'health_ins', 'logwage', 'wage'],
      dtype='object')

In [8]:
wage.shape

(3000, 11)

In [9]:
wage.describe()

              year          age      logwage         wage
count  3000.000000  3000.000000  3000.000000  3000.000000
mean   2005.791000    42.414667     4.653905   111.703608
std       2.026167    11.542406     0.351753    41.728595
min    2003.000000    18.000000     3.000000    20.085537
25%    2004.000000    33.750000     4.447158    85.383940
50%    2006.000000    42.000000     4.653213   104.921507
75%    2008.000000    51.000000     4.857332   128.680488
max    2009.000000    80.000000     5.763128   318.342430